{% extends "base.html" %}

{% block content %}

<div class="cd card">
    <h2 class="card-header text-center">Decriptação</h2>
    <div class="list-group list-group-flush">
            <div class="list-group-item list-group-item-dark lg">
                <h3>Usando os endpoints:</h3>
                <div class="fm">
                    <b>URL:</b>
                    <code class="endpoint text-center">
                        /decryption/?value1=[primeiro_token]&value2=[segundo_token]
                    </code>
                    <pre class="json">
        // GET: /decryption/?value1=1266033467&value2=706432073

        {
            "decrypted": "amor"
        }
                    </pre>
                    <br>
                    <b>URL:</b>
                    <code class="endpoint text-center">
                        decryption/?values=[ambos_tokens_entre_parenteses]
                    </code>
                    <pre class="json">
        // GET: /decryption/?values=(1266033467,706432073)

        {
            "decrypted": "amor"
        }
                    </pre>
                </div>
            </div>
        <br>
        <div class="list-group-item list-group-item-dark lg">
            <h3>Ou, preenchendo o formulario:</h3>
            <form class="fm" method="post" action="{{ url_for('decryption') }}">
                <div class="form-group">
                    <label for="value1"><b>Primeiro Valor</b></label>
                    <input type="text" class="form-control mb-2" id="value1" name="value1" placeholder="Digite ou cole o primeiro token..." aria-describedby="value1HelpBlock">
                    <small id="value1HelpBlock" class="form-text text-muted">
                        Este é o primeiro token retornado pela requisição JSON!
                    </small>
                </div>
                <div class="form-group">
                    <label for="value2"><b>Segundo Valor</b></label>
                    <input type="text" class="form-control mb-2" id="value2" name="value2" placeholder="Digite ou cole o segundo token..." aria-describedby="value2HelpBlock">
                    <small id="value2HelpBlock" class="form-text text-muted">
                        Este é o segundo token retornado pela requisição JSON!
                    </small>
                </div>
                <hr>
                <div class="form-group">
                    <label for="values"><b>Ambos Valores</b></label>
                    <input type="text" class="form-control mb-2" id="values" name="values" placeholder="Digite ou cole ambos os tokens entre parenteses..." aria-describedby="value2HelpBlock">
                    <small id="value2HelpBlock" class="form-text text-muted">
                        Este é o campo para ambos os tokens retornados pela requisição JSON!
                    </small>
                </div>
                <button type="submit" class="btn bg-dark text-light mb-2">Descriptografar</button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}
