{% extends "base.html" %}

{% block content %}

<div id="encrypt-card" class="cd card">
    <h2 class="card-header text-center">Encrypting some text:</h2>
    <div class="list-group list-group-flush">
        <div class="list-group-item list-group-item-dark lg">
            <b>URL:</b>
            <code class="endpoint">
                https://gcrypter-api.herokuapp.com/encryption/?text=[message_goes_here]
            </code>
            <pre class="json">
// GET: /encryption/?text=amor

{
  "encrypted": [
    1266033467,
    706432073
  ]
}
        </pre>
        </div>
        <br>
        <div class="list-group-item list-group-item-dark lg">
            <h3>Or just, fill the form bellow:</h3>
            <form class="fm" method="post" action="{{ url_for('encryption') }}">
                <div class="form-group">
                    <label for="textEncrypt"><b>Text to Encrypt</b></label>
                    <input type="text" class="form-control mb-2" id="textEncrypt" name="text"
                           placeholder="Type anything you'd like to encrypt...">
                    <button type="submit" class="btn bg-dark text-light mb-2">Encrypt</button>
                </div>
            </form>
        </div>
    </div>
</div>
<br>
<div class="cd card">
    <h2 class="card-header text-center">Decrypting some text:</h2>
    <div class="list-group list-group-flush">
        <div class="list-group-item list-group-item-dark lg">
            <b>URL:</b>
            <code class="endpoint">
                https://gcrypter-api.herokuapp.com/decryption/?value1=[first_value_goes_here]&value2=[second_value_goes_here]
            </code>
            <pre class="json">
// GET: /decryption/?value1=1266033467&value2=706432073

{
  "decrypted": "amor"
}
            </pre>
        </div>
        <br>
        <div class="list-group-item list-group-item-dark lg">
            <b>URL:</b>
            <code class="endpoint">
                https://gcrypter-api.herokuapp.com/decryption/?values=[both_values_go_here_as_tuple]
            </code>
            <pre class="json">
// GET: /decryption/?values=(1266033467,706432073)

{
  "decrypted": "amor"
}
            </pre>
        </div>
        <br>
        <div class="list-group-item list-group-item-dark lg">
            <h3>Or just, fill the form bellow:</h3>
            <form class="fm" method="post" action="{{ url_for('decryption') }}">
                <div class="form-group">
                    <label for="value1"><b>First Value</b></label>
                    <input type="text" class="form-control mb-2" id="value1" name="value1"
                           placeholder="Insert the first value..." aria-describedby="value1HelpBlock">
                    <small id="value1HelpBlock" class="form-text text-muted">
                        This is the first number returned on the encrypted json of the data!
                    </small>
                </div>
                <div class="form-group">
                    <label for="value2"><b>Second Value</b></label>
                    <input type="text" class="form-control mb-2" id="value2" name="value2"
                           placeholder="Insert the second value..." aria-describedby="value2HelpBlock">
                    <small id="value2HelpBlock" class="form-text text-muted">
                        This is the second number returned on the encrypted json of the data!
                    </small>
                </div>
                <button type="submit" class="btn bg-dark text-light mb-2">Decrypt</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
