{% extends "base.html" %}

{% block content %}

<div class="card cd text-center">
    <h1 class="card-header">É com enorme honra que vos apresentamos..</h1>
    <div class="card-body">
        <img class="qrcode" src="{{url_for('static', filename='img/favicon/favicon-512x512.png')}}" alt="ango-safe-icon"/>
        <p>Uma API navegável para o projecto de Segurança e Encriptação de Dados<br>A <b>AngoSafe</b> foi criada com o intuito de promover a Segurança de Dados e uso das Tecnologias para resolver problemas do quotidiano no nosso País.</p>
    </div>
</div>

{% endblock content %}
