{% extends 'base.html' %}

{% block content %}
  <div class="card cd text-center">
    <h1 class="card-header">Informations about the Project</h1>
    <div class="card-body">
      <div class="list-group list-group-flush">
        <div class="list-group-item list-group-item-dark lg">
          Name: <b>GCrypter-API</b>
        </div>
        <br>
        <div class="list-group-item list-group-item-dark lg">
          Version: <b>1.0-122021</b>
        </div>
        <br>
        <div class="list-group-item list-group-item-dark lg">
          Programmer & Designer:
          <b><a href="https://github.com/Nurul-GC">Nurul-GC</a></b>
        </div>
        <br>
        <div class="list-group-item list-group-item-dark lg">
          Trademark: <b>&trade;<a href="https://artesgc.home.blog">ArtesGC Inc</a></b>
        </div>
        <br>
        <div class="list-group-item list-group-item-dark lg">
          <a href="https://github.com/ArtesGC/gcrypter-api">
            <img src="https://github.com/Nurul-GC/Nurul-GC/raw/main/img/github-icon.svg"
                 alt="github-icon" title="Repositorio da API no GitHub!"></a>
          <img src="https://img.shields.io/github/license/ArtesGC/gcrypter-api"
               alt="license-icon">
          <img src="https://img.shields.io/github/release/ArtesGC/gcrypter-api"
               alt="github-release-info">
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
