{% extends 'base.html' %}

{% block content %}
<div class="card cd text-center">
  <h1 class="card-header">Informações sobre o programa</h1>
  <div class="card-body">
    <div class="list-group list-group-flush">
      <div class="list-group-item list-group-item-dark lg">
        Nome:
        <hr>
        <ul style="list-style-type: none;">
          <li><b>AngoSafe-API</b></li>
        </ul>
      </div>
      <br>
      <div class="list-group-item list-group-item-dark lg">
        Versão:
        <hr>
        <ul style="list-style-type: none;">
          <li><b>0.2-072023</b></li>
        </ul>
      </div>
      <br>
      <div class="list-group-item list-group-item-dark lg">
        Programador & Designer:
        <hr>
        <ul style="list-style-type: none;">
          <li><b><a href="https://github.com/Nurul-GC">Nurul-GC</a></b></li>
          <li><b>Elson Ernesto</b></li>
        </ul>
      </div>
      <br>
      <div class="list-group-item list-group-item-dark lg">
        Trademark:
        <hr>
        <ul style="list-style-type: none;">
          <li>
            <b>&trade;3EMGC</b>
          </li>
          <li>
            <b>&trade;ArtesGC, Inc.</b>
          </li>
        </ul>
      </div>
      <br>
      <div class="list-group-item list-group-item-dark lg">
        Repositorio no Github: <br>
        <img src="{{ url_for('static', filename='img/github-icon.svg') }}" alt="github-icon" title="Repositorio da API no GitHub!">
        <hr>
        <a href="https://github.com/nurul-GC/angosafe">
          <img class="qrcode" src="{{ url_for('static', filename='img/angosafe-qr.png') }}" alt="ango-safe-qr-code" height="150" width="150" />
        </a>
      </div>
      <div class="list-group-item list-group-item-dark lg">
        Software Licenciado sob: <br>
        <img src="{{ url_for('static', filename='img/license-BSD3.svg') }}" alt="license-icon" title="Software licenciado sob a licença 'Impulsionando o Desenvolvimento de Software(Boost Software Development) - 3ª clausula' ">
        <hr>
        <pre class="json">
BSD 3-Clause License

Copyright (c) 2023, 3MGC

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

1. Redistributions of source code must retain the above copyright notice, this
   list of conditions and the following disclaimer.

2. Redistributions in binary form must reproduce the above copyright notice,
   this list of conditions and the following disclaimer in the documentation
   and/or other materials provided with the distribution.

3. Neither the name of the copyright holder nor the names of its
   contributors may be used to endorse or promote products derived from
   this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

        </pre>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
